body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.header {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: #4e4e4e;
    color: #fff;
    font-family: sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 2px 4px #ccc;
}

.splash {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.splash::before {
    content: '▷';
    font-size: 72px;
    color: #fff;
}

.player {
    margin: auto;
    position: relative;
    overflow: auto;
    width: 250px;
    height: 444px;
    cursor: pointer;
}

.video-item {
    width: inherit;
    height: inherit;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .player {
        width: 100%;
        height: auto;
    }
}