:root {
    --pikpok-light: #fff;
    --pikpok-gray: #ccc;
}

html {
    height: calc(100% - 40px);
}

body {
    margin: 0;
    padding: 0;
    background: var(--pikpok-gray);
    height: 100%;
    font-family: sans-serif;
}

.header {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: #4e4e4e;
    color: var(--pikpok-light);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 2px 4px var(--pikpok-gray);
}

.video-name {
    font-size: 16px;
    color: #000;
    text-shadow: 2px 2px 2px var(--pikpok-light);
    margin: 0;
}

.player {
    margin: auto;
    position: relative;
    overflow: auto;
    width: 370px;
    height: 100%;
    cursor: pointer;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.video-item {
    height: inherit;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .player {
        width: 100%;
        height: 100%;
    }
}
