html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #ccc;
    height: 100%;
    font-family: sans-serif;
}

.header {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: #4e4e4e;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 2px 4px #ccc;
}

.splash {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.splash::before {
    content: '▷';
    font-size: 72px;
    color: #fff;
}

.player {
    margin: auto;
    position: relative;
    overflow: auto;
    width: 370px;
    height: 100%;
    cursor: pointer;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.video-item {
    height: inherit;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* mobile phone */
@media all and (max-width: 768px) {
    .player {
        width: 100%;
        height: 100%;
    }
}

.video-name {
    font-size: 16px;
    color: #000;
    text-shadow: 2px 2px 2px #fff;
    margin: 0;
}